/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2017, 11:59:41 AM
    Author     : peter
*/  
@keyframes background{
    from {background-color: white}
    to {background-color: rgb(30, 208, 112)}
}
@keyframes back-img{
    from {background-color: rgb(30, 208, 112)}
    to {background-image: url('http://compass.xbox.com/assets/62/08/62089711-329a-40a8-884c-365357013d3c.jpg?n=PS_1920_Mosaic1_img.jpg')}
}
html{
    font-family: 'Raleway', sans-serif;
    animation-name: background;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.consoles,
.xbonex-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.xbone,
.ps4,
.xbonex-info{
    width: 100%;
    padding: 1em 3em 2em 2em;
    margin: 0.5em;
    color: black;
    border-radius: 0.75em;
}
.xbone,
.xbonex-info{
    background-color: whitesmoke;
}
.button{
    background-color: rgb(30, 185, 112);
    padding: 0.75em  1.25em;
    color: black;
    border-radius: 0.5em;
}
.processing,
.memory,
.immersive-worlds,
.memory-bandwith{
    background-color: rgb(108, 108, 108);
    color: white;
    padding: 1em 3em 1em 2em;
}
.active{
    background-color: rgb(114, 153, 132);
}
